@font-face {
    font-family: spiderman;
    src: url(./Far-From\ Homecoming\ Updated.otf);
}
body{
    margin: 0;
}
header{
    background-color: #F1C530;
    
}
.tête{
    justify-content: space-between;
    display: flex;
    padding: 10px;
    align-items: center;
}
h1 {
    font-family: spiderman;
}
.logo{
    padding-left: 2px;
    margin: 10px;
    margin-left: 60px;
}
.rat{
    color: #ffffff;
    padding-right: 40px;
    list-style: none;
    text-decoration: none;
}
@media all and (max-width: 1024px)
{
    nav{
        width: auto;
        text-align: left;
    }
    nav ul
    {
        flex-direction: column;
    }
    nav li
    {
        padding-left: 4px;
    }
    nav a
    {
        font-size: 1.1em;
    }
    nav a:hover
    {
        border-bottom: 0;
    }
}
/* corp */

.écrit{
    padding-top: 150px;
    color: #FFFFFF;
    padding-left: 400px;
}
.noire{
    background-image: url(./Illustration/img7.png);
    background-size: cover;
    padding-bottom: 300px;
}
/*other*/

.couleur{
    background-color: #F1C530;
    height: 2100px;
}
#carte,#si{
    border: 6px solid #000000;
    border-radius: 25px;
    width: 280px;
    margin-top: -25px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 16px;
}
.ogi{
    display: flex;
}
.joker,.carte{
    flex-direction: column;
}
#cité{
    border: 6px solid #000000;
    border-radius: 25px;
    width: 280px;
    margin-top: -25px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 16px;
}
#car,#route,#voiture{
    border: 6px solid #000000;
    border-radius: 25px;
    width: 280px;
    margin-top: -25px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 16px;
}
.nard{
    display: flex;
}

.phil{
    display: flex;
}
.émon{
    display: flex;
    left: 50px;
}
#cars,#mais,#donc{
    border: 6px solid #000000;
    border-radius: 25px;
    width: 280px;
    margin-top: -25px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 16px;
}
#or,#ni{
    border: 6px solid #000000;
    border-radius: 25px;
    width: 280px;
    margin-top: -25px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 16px;
}
h3{
    text-align: center;
}
/* footer */

footer{
    background-color: #000000;
}
.foot{
    padding-top: 70px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.x{
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 70px;
    list-style: none;
    text-decoration: none;
}
.o{
    padding-top: 40px;
    justify-content: space-between;
    padding-left: -50px;
    text-align: center;
}

.i,.x{
    display: flex;
}
.lien{
    text-decoration: none;
    color: #ffffff;
    top: 20px;
}
.langue{
    padding-top: -60px;
    top: -50px;
    
}
.fin{
    color: #FFFFFF;
}
.lien{
    padding-right: 50px;
}
.fin.lien{
    color: #ffffff;
    padding-right: 50px;
}
#bloc_page
{
 width: 900px;
 margin: auto;   
}
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}

